NODE_ENV=development

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=

NEXT_PUBLIC_ABACATEPAY_WEBHOOK_SECRET=ngroklocalhost
NEXT_PUBLIC_ABACATEPAY_API_KEY=

UPLOADTHING_TOKEN=

TELEGRAM_BOT_HTTP_TOKEN=
TELEGRAM_BOT_CHANNEL_ID=

# Use this when testing locally, integration tests, etc
# Comment the service api in docker-compose and up only postgres database
# DATABASE_URL="postgres://postgres:postgres@localhost:5432/perguntae_db?schema=public"

DATABASE_URL=

SEED_TOTAL_RANDOM_USERS_TO_CREATED=50
SEED_TOTAL_FOLLOWERS_RELATIONS=100
SEED_RANDOM_QUESTIONS_TO_CREATE=100
